.browse-content {
	margin-top: 30px;
}

.browse-filter {
	margin-left: 10px;
	margin-top: 30px;
	text-align: left;
}

.project {
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-owner {
	display: block;
}

.project-description {
	margin-top: 20px;
}

.project-tag {
	margin-left: 2px;
	margin-right: 2px;
}

.project-header {
	display: flex;
	justify-content: center;
	position: relative;
}

.project-add {
	position: absolute;
	right: 0;
}

.searchbar {
	margin-top: 20px;
	margin-right: 20px;
}

.searchbar-button {
	margin-top: 20px;
}