.profile-table tbody tr:hover {
	color: white;
	background-color: rgba(0, 0, 0, .15);
}

/*
 * Sidebar
 */

.sidebar {
	background-color: #111c22;
	display: block;
	padding: 10px;
}

.sidebar-sticky {
	background-color: #111c22;
	/* position: -webkit-sticky; 
	position: sticky;
	top: 0; */
}

.nav-link{
	float: left;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

.main {
	padding-top: 20px;
}

/*
 * Utilities
 */

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.profile-header {
	font-weight: 100;
	font-size: 60px;
}

.personal-info {
	overflow-x: auto;
}

@media (min-width: 992px) {
	.sidebar {
		background-color: #111c22;
		display: block;
	}
	
	.sidebar-sticky {
		position: -webkit-sticky; 
		position: sticky;
		top: 0;
		background-color: #111c22;
		padding-top: .5rem;
		overflow-x: hidden;
		overflow-y: hidden;
		/* Scrollable contents if viewport is shorter than content. */
		height: 100vh;
	}

	.nav-link{
		float: none;
	}
}