
.project-name{
    font-size: 60px;
}

.project-members {
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
}

.project-description {
}

.project-tag {
    margin: 1px 5px;
    padding: 5px 8px;
    background-color: #9bbfb0;
    color: #d1ffeb;
    border-radius: 5px;
}

.block-color-title {
    height: 50vh;
    background-color: #2C363F;
    color: white;
    flex: 0 1 40px;
}

.block-color-green {
    background-color: #1a936f;
}

.block-color-purple {
    background-color: #7a82ab;
    color: white;
}

.block-color-rose {
    background-color: #FAE1DF;
}

.block-color-blue {
    background-color: #9FB4C7;
}

.borderless td, .borderless th, .borderless tr, .borderless thead, .borderless tbody {
    border: none !important;
}

.custom-input, .custom-input:focus{
    border: none !important;
    border-bottom: 1px solid beige !important;
    background-color: transparent;
    outline: none;
    color: white;
    width: fit-content;
}

#add-tag {
    display: inline;
    border: 1px solid white;
    padding: 0px 3px 3px 3px;
    width: fit-content;
}

#add-tag:hover {
    border: 1px solid #2C363F;
    background-color: white;
    color: #2C363F;
    cursor: pointer;
}

.new-tag {
    resize: none;
}