.App {
  text-align: center;
  height: 100vh;
}

.max-height {
  min-height: 100%;
}

.boring-background {
  background-color: #d4d4bc;
}

.white-background {
  background-color: white;
}

.container {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overflow-hidden {
  overflow: hidden;
}