.project-name {
    font-size: 60px;
}

.project-members {
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
}

.project-description {}

.project-tags {
    padding-top: 2px;
}

.project-tag {
    margin: 1px 5px;
    padding: 5px 8px;
    background-color: #e9bcb7;
    color: #364a54;
    border-radius: 5px;
}

.block-color-title {
    /* height: 50vh; */
    background-color: #2C363F;
    color: white;
    flex: 0 1 40px;
}

.block-color-green {
    background-color: #1a936f;
}

.block-color-purple {
    background-color: #7a82ab;
    color: white;
}

.block-color-rose {
    background-color: #FAE1DF;
}

.block-color-blue {
    background-color: #9FB4C7;
}

.borderless td, .borderless th, .borderless tr, .borderless thead, .borderless tbody {
    border: none !important;
}

.custom-input, .custom-input:focus {
    border: none !important;
    border-bottom: 1px solid #d7fff1 !important;
    background-color: transparent;
    outline: none;
    color: white;
    width: fit-content;
    /* max-width: 100%; */
}

#add-tag {
    display: inline;
    border: 1px solid #d7fff1;
    padding: 0px 3px 3px 3px;
    width: fit-content;
}

#add-tag:hover {
    border: 1px solid #2C363F;
    background-color: #d7fff1;
    color: #2C363F;
    cursor: pointer;
}

.new-tag {
    resize: none;
}

.project-hardware-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .15);
}

.project-name-input {
    font-size: large;
}

@media (min-width: 576px) {
    .project-name-input {
        font-size: 35px;
    }
}

@media (min-width: 992px) {
    .project-name-input {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    .project-name-input {
        font-size: 45px;
    }
}